
# Ambientes Virtuais
.venv/
venv/

# Arquivos Python Compilados
*.pyc
*.pyo
__pycache__/

# Configurações de IDEs
.idea/
.vscode/

# Docker Volumes
docker/postgres/data/

# Arquivos do Sistema
.DS_Store
Thumbs.db
./data/pgadmin/
./data/postgres/
